<div class="containerView">
    <div class="row">
        <div class="col-md-2">
            <div ng-include src="'menuTemplate.html'"></div>
        </div>

        <div class="modal-dialog">
			<div class="col-md-12 col-md-offset-2">
				<center>
				<h4 style="padding-top: 10px;"><b>View Poll Data</b></h4></center>
				<table class="table" dir-paginate="data in record | itemsPerPage:2">
					<tr>
						<th colspan="3"  class="success">Question. &nbsp;<span>{{data.title}}</span> </th>
					</tr>
					<tr class="info">
						<th class="col-sm-9">Options</th>
						<th class="col-sm-3">Votes</th>
					</tr>
					<tr class="active">
						<td><b>A.</b> &nbsp;{{data.options[0].option}}</td>
						<td>{{data.options[0].vote}}</td>
					</tr>
					<tr class="active">
						<td><b>B.</b> &nbsp;{{data.options[1].option}}</td>
						<td>{{data.options[1].vote}}</td>
					</tr>
					<tr class="active">
						<td><b>C.</b> &nbsp;{{data.options[2].option}}</td>
						<td>{{data.options[2].vote}}</td>
					</tr>
					<tr class="active">
						<td><b>D.</b> &nbsp;{{data.options[3].option}}</td>
						<td>{{data.options[3].vote}}</td>
					</tr>
				</table>
				<center>
                	<dir-pagination-controls></dir-pagination-controls>
            	</center>
			</div>			
        </div>
    </div>
</div>
    
    <style type="text/css">
    	span{
    		font-weight:  normal;

    	}
    </style>
