<!DOCTYPE html>
<html ng-app="Assignment7" >
<head>
    <title>Assignment 7</title>
    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Js -->
    <script type="text/javascript" src="assignment7.controller.js"></script>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="assignment7.stylesheet.css">

</head>
<body >
    <div class="row">
        <div id="mainDiv" class="col-sm-10">
            <table ng-controller="assignment7Controller" class="table">
                <tr class="success">
                    <th ng-click="orderByMe('Index')">Index 
                        <span ng-show="myOrderBy === 'Index'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                    <th ng-click="orderByMe('Name')">Name 
                        <span ng-show="myOrderBy === 'Name'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                    <th ng-click="orderByMe('Email')">Email 
                        <span ng-show="myOrderBy === 'Email'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                    <th ng-click="orderByMe('Age')">Age 
                        <span ng-show="myOrderBy === 'Age'" ng-class="{reverse: reverse,notReverse: !reverse}"></span>
                    </th>
                </tr>
                <tr ng-repeat="Obj in list  | orderBy:myOrderBy: reverse" ng-class="($index+1) % 2 == 0? 'even' : 'odd'">
                    <td>{{Obj.Index}}</td>
                    <td>{{Obj.Name}}</td>
                    <td>{{Obj.Email}}</td>
                    <td>{{Obj.Age}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>