<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div ng-include src="'menuTemplate.html'"></div>
        </div>
        	
    	<div class="col-md-8">
            <div class="col-md-10 col-md-offset-2">
                <center>
                <h4 style="padding-top: 10px;"><b>Take Poll</b></h4></center>
                <table class="table" dir-paginate="data in record | itemsPerPage:2">
                    <div ng-show="alerterror" class="alert alert-danger"> {{errMsg}}</div>
                    <div ng-show="alertSuccess" class="alert alert-success">You voted "{{successMsg}}"</div>
                    <tr>
                        <td colspan="2" class="success"><b>Question. &nbsp;</b>{{data.title}} </td>
                    </tr>
                    <tr class="active">
                        <td>
                            <input type="radio" name="Vote" ng-model="option" value="{{data.options[0].option}}" unchecked>&nbsp;{{data.options[0].option}}
                        <td>
                    </tr>
                    <tr class="active">
                        <td>
                            <input type="radio" name="Vote" ng-model="option" value="{{data.options[1].option}}" unchecked>&nbsp;{{data.options[1].option}}
                       <td>
                    </tr>
                    <tr class="active">
                       <td>
                            <input type="radio" name="Vote" ng-model="option" value="{{data.options[2].option}}" unchecked>&nbsp;{{data.options[2].option}}
                        <td>
                    </tr>
                    <tr class="active">
                        <td>
                            <input type="radio" name="Vote" ng-model="option" value="{{data.options[3].option}}" unchecked>&nbsp;{{data.options[3].option}}
                        <td>
                    </tr>
                    <tr class="active" width="100%">
                    	<td>
                            <input type="button" class="btn btn-primary" name="submit" value="submit" ng-click="submitVote(option,data)" ng-disabled="!option">
                    	</td>
                    </tr>                    
                </table>
                <center>
                    <dir-pagination-controls></dir-pagination-controls>
                </center>
            </div>
        </div>
    </div>
</div>