<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div ng-include src="'menuTemplate.html'"></div>
        </div>
        	
    	<div class="col-md-8">
            <div class="col-md-10 col-md-offset-2">
                <center>
                <h4 style="padding-top: 10px;" ng-hide="paginAlert"><b>Take Poll</b></h4>
                <div ng-show="recordAlert" class="alert-danger">No more Polls Found</div>
                </center>
                <table class="table" dir-paginate="data in record | itemsPerPage:2">
              
                    <tr>
                        <td colspan="2" class="success"><b>Question. &nbsp;</b>{{data.title}} </td>
                    </tr>
                    <tr class="active">
						<td>
							<input type="radio" name="Vote" ng-model="option" value="{{data.options[0].option}}" unchecked>&nbsp;{{data.options[0].option}}
						<td>
                    </tr>
                    <tr class="active">
						<td>
                   			<input type="radio" name="Vote" ng-model="option" value="{{data.options[1].option}}" unchecked>&nbsp;{{data.options[1].option}}
                       <td>
                    </tr>
                    <tr class="active">
                       <td>
                       		<input type="radio" name="Vote" ng-model="option" value="{{data.options[2].option}}" unchecked>&nbsp;{{data.options[2].option}}
                   		<td>
                    </tr>
                    <tr class="active">
                  		<td>
                  			<input type="radio" name="Vote" ng-model="option" value="{{data.options[3].option}}" unchecked>&nbsp;{{data.options[3].option}}
                  		<td>
                    </tr>
                    <tr>
                    	<td>
                    		<input type="button" class="btn btn-primary" name="submit" value="submit" ng-click="submitVote(option,data)" ng-disabled="!option">
                    	</td>
                    </tr>                    
                </table>
                <center>
                    <dir-pagination-controls ng-hide="paginAlert"></dir-pagination-controls>
                </center>
            </div>
        </div>
    </div>
</div>