<!DOCTYPE html>
<html ng-app="assignment6" >
<head>
    <title>Assignment 6</title>
    <!-- bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Js -->
    <script type="text/javascript" src="controllerModule1.js"></script>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="assignment6.stylesheet.css">
</head>
<body >
<div class="row">
    <!--left Div For $rootScope-->
    <div id="mainDiv" class="col-sm-4">
    <h4>Using $rootScope</h4><br>
        <div  ng-controller="assign6Controller1" class="first">
            <div class="form-group">
                <label>Enter Value:</label>
                <input type="text" class="form-control" ng-model="obj.value1"  autocomplete="off" >
            </div>
        </div>
      
        <div ng-controller="assign6Controller2" class="second">
            <div class="form-group">
                <label>Enter Value:</label>
                <input type="text" class="form-control" ng-model="obj.value1" autocomplete="off" >
            </div>
        </div>
    </div>



    <!--right  Div For $broadcast and $emit-->
    <div id="mainDiv" class="col-sm-4">
        <h4>Using $emit, $broadcast</h4><br>
        <div  ng-controller="assign6Controller3" class="first">
            <div class="form-group">
                <label>Parent Value:</label>
                <input type="text" class="form-control" ng-model="obj.value3" ng-change="change2($event)" autocomplete="off" >
            </div>
            <div ng-controller="assign6Controller4" class="second">
                <div class="form-group">
                    <label>Child Value:</label>
                    <input type="text" class="form-control" ng-model="obj.value4" ng-change="change2($event)" autocomplete="off" >
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>